
[is-playing-audio] .episode-pause-audio {
	display: inline-block;
}


[is-playing-audio] .episode-play-audio {
	display: none;
}


.episode-ig-handler {
	background: linear-gradient(90deg, #f3ba34, #d84a89, #8e3ec1) no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.episode-play-audio,
.episode-pause-audio {
	background-color: #c9c5e67d;
	background-size: 30%;
	background-position: center;
	height: 3em;
	width: 3em;
	border-radius: 3em;
	font-weight: bold;
	color: #fff;
	line-height: 8.5;
	font-size: 13px;
	font-style: inherit;
	text-shadow: 2px 2px 1px #2d2b1a78;
	align-self: center;
	margin: auto;
}



.episode-pause-audio {
	display: none;
}


.creator-bar {
	margin: 1em 0;
}


.comments-link {
	display: none;
	padding: 0.5em 1em;
	position: absolute;
	bottom: 0;
	left: 0;
}


[audio-played] .comments-link {
	display: block;
}


.episode-comments-link button {
	font-size: 1.25em;
}


/***************************
****************************
         reactions
****************************
***************************/

.reactions {
	white-space: nowrap;
	color: #b8c2e6;
	margin-top: 1em;
	font-size: 94%;
}

.reactions b {
	padding-right: 0.5em;
}