#home-component header .button.avatar {
    font-size: 2em;
    margin: 0 -0.5em 0 0 !important;
}


/***************************
****************************
  user-authenticated
****************************
***************************/

body:not([user-authenticated]) #sign-in-link {
    box-sizing: border-box;
    background-size: 8em;
    background-repeat: no-repeat;
    background-position: center -3px;
    border-radius: unset;
    text-align: left;
    padding: 1.8em;
    height: 8em;
    width: 8em;
    color: #6a769e;
    text-shadow: none;
    display: inline-block;
    line-height: 4.25;
}

body:not([user-authenticated]) #guest-greeting {
    display: inline-block;
    font-size: 1.75em;
}

body:not([user-authenticated]) #nickname-greeting,
body:not([user-authenticated]) #inbox-link,
body:not([user-authenticated]) #profile-link {
    display: none;
}


/***************************
****************************
         context-panel
****************************
***************************/

#guest-greeting,
#sign-in-link {
    display: none;
}

#home-component nav .avatar {
    font-size: 2.5em;
    margin: 0 -0.4em 0 -0.4em !important;
}


#tags a:before {
    content: '# ';
    background: no-repeat;
    display: contents;
}


/***************************
****************************
         content-panel
****************************
***************************/

#search-bar label input {
    margin-right: 0.2em;
}

#home-component .timer-loader {
    display: block;
    margin: 3em auto 0;
}