/***************************
****************************
notification
****************************
***************************/

.notification .comment-pretext p {
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/***************************
****************************
read
****************************
***************************/

.notification.read {
    color: rgb(106 118 158);
    background: none;
    box-shadow: none;
    opacity: 0.5;
}

.notification.read .comment-pretext {
    all: unset;
}