<main id='channel-component' class='page column scrollable elastic shade-2 publishers'>
	<header>
		<div class="row">
			<a class='play-trailer button'><i class="play-icon" style='width: 2em; background-size: 50%;'></i> Play Trailer</a>
			<a class="button cancel-icon"></a>
		</div>
		<div class="row">
			<a class="button avatar context-avatar" style="background-image: url('app/theme/media/f-1.png'); font-size: 4em; margin: 0.5em 0 0.5em -0.25em"></a>
			<h1 class='name'>Natalie Kamba</h1>
		</div>
		<div class='row' style='margin-bottom: 2em;'>
			<a class="button bg-color-2 action">Follow</a>
			<a class='button shade-2'>
				<span>33k</span>
			</a>
		</div>
		<div class="sub-drawer shade-1 overflow-1 radius-3 row">
			<a class='button'>13<br> Episodes</a>
			<a class='button' href='followers.html'>19<br> Followers</a>
			<a class='button'>89<br> Following</a>
		</div>
	</header>
	<footer>
		<ul class='column scrollable  overflow-1'>
			{{>episode.html}}
			{{>episode.html}}
			{{>episode.html}}
			{{>episode.html}}
		</ul>
		<footer>
			<div class='timer-loader'></div>
		</footer>
	</footer>
</main>