<li class="comment radius-3 shade-2">
	<div class="row" style='white-space: nowrap;'>
		<div class="link">
			<a class="button avatar" style="background-image: url('app/theme/media/f-4.png'); font-size: 0.75em"></a>
			<h3>Samantha</h3>
		</div>
		<div>
			<a class="button more-navy-icon"></a>
		</div>
	</div>
	<div class='radius-2 shade-1' style='margin-top: 1em;'>
		This is a comment that contains only text lol!
	</div>
</li>