<li class='episode-wrapper radius-3 shade-2 '>
	<div class='row'>
		<a class='thumbnail button' style='background-image: url("app/theme/media/c70079d3893e4229dfbd611d6cf7d362.jpg")' @click='audioPlayed'>
			<i class="episode-play-audio play-icon"></i>
		</a>
		<a href='player.html' style='max-width: calc(100% - 6em);'>Why do women like money?</a>
	</div>
	<div class='row reactions'>
		<div class='link' style='font-size: 80%'>
			<a class='button avatar' href='channel.html' style="background-image: url('app/theme/media/m-6.png'); font-size: 70%;"></a>
			<h3>Magaye</h3>
		</div>
		<a class='button text-color-3'><b class='comment'></b><span>54 replies</span></a>
		<a class='button text-color-2'><b class='heart'>❤</b><span>33</span></a>
	</div>
</li>