<main id='inbox-component' class='page column scrollable elastic shade-2 publishers'>
	<header class='context-panel'>
		<nav class='row'>
			<h2>142 Followers</h2>
			<a class='button cancel-icon'></a>
		</nav>
	</header>
	<footer>
		<ul class='column scrollable'>
			<li class='radius-2 shade-2'>
				<div class='row'>
					<div class='link' style='font-size: 90%'>
						<a class='button avatar' href='channel.html' style="background-image: url('app/theme/media/f-5.png'); font-size: 90%;"></a>
						<h3>Magaye</h3>
					</div>
					<a class='button shade-1 text-color-1 worded'><b>Follow</b></a>
				</div>
				<span class='followers-count' style='color: rgb(177 190 211); margin-left: 3.7em; font-size: 90%;'>123 followers</span>
			</li>
			<li class='radius-2 shade-2'>
				<div class='row'>
					<div class='link' style='font-size: 90%'>
						<a class='button avatar' href='channel.html' style="background-image: url('app/theme/media/f-10.png'); font-size: 90%;"></a>
						<h3>Charlie</h3>
					</div>
					<a class='button shade-1 text-color-1 worded'><b>Follow</b></a>
				</div>
				<span class='followers-count' style='color: rgb(177 190 211); margin-left: 3.7em; font-size: 90%;'>923 followers</span>
			</li>
			<li class='radius-2 shade-2'>
				<div class='row'>
					<div class='link' style='font-size: 90%'>
						<a class='button avatar' href='channel.html' style="background-image: url('app/theme/media/m-3.png'); font-size: 90%;"></a>
						<h3>Chappel</h3>
					</div>
					<a class='button shade-1 text-color-1 worded'><b>Follow</b></a>
				</div>
				<span class='followers-count' style='color: rgb(177 190 211); margin-left: 3.7em; font-size: 90%;'>74 followers</span>
			</li>
			<li class='radius-2 shade-2'>
				<div class='row'>
					<div class='link' style='font-size: 90%'>
						<a class='button avatar' href='channel.html' style="background-image: url('app/theme/media/m-9.png'); font-size: 90%;"></a>
						<h3>Stormy</h3>
					</div>
					<a class='button shade-1 text-color-1 worded'><b>Follow</b></a>
				</div>
				<span class='followers-count' style='color: rgb(177 190 211); margin-left: 3.7em; font-size: 90%;'>43 followers</span>
			</li>
		</ul>
	</footer>
</main>