<main id='home-component' class='page column scrollable elastic shade-2'>
	<header>
		<div class='row'>
			<div>
				<h1 id='nickname-greeting'>Hi, <br> Varga</h1>
				<h1 id='guest-greeting'>Pillowcase</h1>
			</div>

			<div>
				<a id='inbox-link' href='inbox.html' class='button bg-color-2'>6</a>
				<a id='profile-link' href='channel.html' class='button avatar' style="background-image: url('app/theme/media/m-2.png')"></a>
				<a id='sign-in-link' href='login.html' class='button' style="background-image: url('app/theme/media/signIn.png')">Sign In</a>
			</div>
		</div>
	</header>
	<footer>
		<form id='search-feed'>
			<div class='row'>
				<label id='search-link' class='text-field with-action'>
					<input type='search' placeholder='Search...'>
				</label>
				<a id='recorder-link' href='recorder.html' class='button bg-color-2'><i class='send-icon'></i></a>
			</div>
		</form>
		<ul id='feed' class='column scrollable overflow-1'>
			<div id='tags' class='row scrollable elastic overflow-1'>
				<a class='pill text-color-1 shade-2'>Philosophy</a>
				<a class='pill text-color-1 shade-2'>Math</a>
				<a class='pill text-color-1 shade-2'>Sex</a>
				<a class='pill text-color-1 shade-2'>Rugby</a>
				<a class='pill text-color-1 shade-2'>Women</a>
			</div>
			{{>episode.html}}
			{{>episode.html}}
			{{>episode.html}}
			{{>episode.html}}
			{{>episode.html}}
			{{>episode.html}}
		</ul>
	</footer>
</main>