<main id='inbox-component' class='page column scrollable elastic shade-2 publishers'>
	<header class='context-panel'>
		<nav class='row'>
			<h2>4 Notifications</h2>
			<a class='button cancel-icon'></a>
		</nav>
	</header>
	<footer>
		<ul id='messages' class='column scrollable' data-template='notification'>
			<li class='notification shade-2 radius-3 link'>
				<div class='row'>
					<a class='button avatar' style="background-image: url('app/theme/media/m-4.png')"></a>
					<p>Tapelo and 5 others reacted
						<span class='button haha-icon' style='font-size: 70%;'></span>
					   to your story.
					</p>
				</div>
			</li>
			<li class='notification shade-2 radius-3 link read for-comment'>
				<div class='row'>
					<a class='button avatar' style="background-image: url('app/theme/media/m-5.png')"></a>
					<p>Mpendulo and 2 others commented on your story.
					</p>
				</div>
				<div class='comment-pretext shade-1 radius-2' style='margin-top: 0.5em;'>
					<p>I have been very lonely since the lockdown was initiated, i never thought i could be this desperate.</p>
				</div>
			</li>
			<li class='notification shade-2 radius-3 link'>
				<div class='row'>
					<a class='button avatar' style="background-image: url('app/theme/media/m-4.png')"></a>
					<p>Zinhle and 4 others started following your channel.
					</p>
				</div>
			</li>
		</ul>
	</footer>
</main>