<main id='password-component' class='page column  shade-2 scrollable elastic'>
	<header class='context-panel'>
		<div class='row'>
			<a class='button avatar' style="background-image: url('app/theme/media/f-4.png');"></a>
			<a class='button cancel-icon'></a>
		</div>
		<h1>Natalie Kamba</h1>
	</header>
	<footer>
		<ul class='column scrollable'>

			<li>
				<form>
					<header>
						<h2>Reset Password</h2>
					</header>
					<label class='text-field radius-3'>
						<span class='error-message'>🙄 this password is too short bra!</span>
						<input required type='password' placeholder='new password...'>
						<span class='timer-loader'></span>
					</label>
					<label class='text-field radius-3'>
						<span class='error-message'>🙊 passwords don't match!</span>
						<input required type='password' placeholder='confirm password...'>
						<span class='timer-loader'></span>
					</label>
					<button id='secure' class='button ' style="background-image: url('app/theme/media/secure.png')">Save</button>
				</form>
			</li>
		</ul>
	</footer>
</main>