<form id='recorder-component' autocomplete='off' class='page shade-2 column scrollable elastic'>
	<header>
		<nav class='row'>
			<div>
				<a class='button avatar' style="background-image: url('app/theme/media/m-2.png')"></a>
				<h3>New Story</h3>
			</div>
			<a class='button cancel-icon'></a>
		</nav>
		<label class='overflow-1 radius-3 shade-1 sub-drawer'>
			<textarea style='padding-top: 0; font-size: 1.2em;' rows='4' placeholder='Write caption...'></textarea>
		</label>
	</header>
	<footer>
		<ul class='column scrollable overflow-1'>

			<header class='row'>
				<div>
					<h3>Add Thumbnail</h3>
				</div>
			</header>
			<li class='shade-2 radius-3'>
				<ul class='row scrollable elastic overflow-2'>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/c70079d3893e4229dfbd611d6cf7d362.jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/7c3e6c8c117913886b9b1667b113f3be.jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/ca (12).jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/c932936517c71b6bbc01822b7b590ac6.jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/avatar (4).jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/bg (17).jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/c5fb7436b83a7eb055bb203203709892.jpg')"></label>
					<label class='link'><input name='avatar' type='radio' class='thumbnail' style="background-image: url('app/theme/media/d68d07d9e3c038a4b87e1c9fdb580323.jpg')"></label>

				</ul>
				<div>
					<label class='text-field radius-3'>
						<input type='search' placeholder='Search...'>
					</label>
				</div>
			</li>
			<header class='row'>
				<div>
					<h3>Publish Episode</h3>
				</div>
			</header>
			<li class='shade-2 radius-3'>
				<div class="row">
					<label class="text-field with-action">
						<input type="search" placeholder="#hashtag...">
					</label>
					<button class="button bg-color-2"><i class="send-icon"></i></button>
				</div>
				<div id="tags" class="row scrollable elastic overflow-2">
					<a class="pill text-color-1 shade-1">Philosophy</a>
					<a class="pill text-color-1 shade-1">Math</a>
					<a class="pill text-color-1 shade-1">Sex</a>
					<a class="pill text-color-1 shade-1">Rugby</a>
					<a class="pill text-color-1 shade-1">Women</a>
				</div>
			</li>
		</ul>
	</footer>
</form>