<main id="verification-component" class="page column scrollable elastic publishers shade-2">
	<header class='context-panel'>
		<div class='row'>
			<a class='button avatar' style="background-image: url('app/theme/media/f-1.png');"></a>
			<a class='button cancel-icon'></a>
		</div>
		<h1>Natalie Kamba</h1>
	</header>
	<footer>
		<ul class="column scrollable">

			<li class="radius-3 shade-2">
				<h2>Awesome, your email has been verified!</h2>
				<div id="verified-banner" class="picture" style="background-image: url('app/theme/media/verified.png'); height: 8em;width: 13em;display: inline-block;"></div>
			</li>
		</ul>
	</footer>
</main>